# Ignorar archivos de node_modules
**/node_modules
**/dist
**/build

# Ignorar archivos de configuración local
**/.env
**/.env.local

# Ignorar archivos de logs
**/*.log
**/logs

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de IDE
.vscode
.idea
*.swp
*.swo

# Ignorar archivos temporales
**/tmp
**/temp

# Ignorar archivos de respaldo
**/backup*.sql
**/*.backup
